* {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    padding: 0;
}

header {
    padding-left: 1%;
    margin-bottom: 2%;
    background-color: rgb(64, 64, 64);
}

h1 {
    margin: 0;
}

.header-logo {	
    text-decoration: none;
    color: white;
}

ul {
    margin-left: 2%;
    padding: 0;
    list-style: none;
    display: flex;
    overflow-x: scroll;
}

li {
    margin-left: 1%;
    margin-right: 1%;
}

.index-list-title {
    padding-left: 2%;
}

.index-thumbnail {
    height: 144px;
    width: 256;
}

.contents {
    text-align: center;
}

.contents-thumbnail {
    width: 50%;
}

.contents-data {
    font-size: small;
    width: 30%;
    text-align: left;
    margin-left: 40%;
    margin-right: auto;
}

.contents-comment {
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
}
