<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{{.Title}}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css?20220117">
</head>

<body>
<header><h1><a href="/" class="header-logo">みたやつ</a></h1></header>

<div class="contents">
  <h2 class="contents-title">{{.Title}}</h1>
  <img class="contents-thumbnail" src="/images/{{.Title}}" alt="{{.Title}}">
  <div class="contents-data">
    <div>{{.Worth}}</div>
  </div>
  <h3>この作品の楽しみ方</h3>
  <p class="contents-comment">{{.Review}}</p>
</div>
</body>
