<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>テスト</title>
    <link rel="stylesheet" type="text/css" href="https://localhost/static/style.css?20220117">
</head>

<body>
<h1>テスト</h1>
</body>
