<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>みたやつ</title>
    <link rel="stylesheet" type="text/css" href="https://localhost/static/style.css?20220117">
</head>

<body>
<h1>みたやつ</h1>
<div>
    <h2>時間を作ってでも見た方がいい</h2>
    {{.GodContents}}
    <h2>時間があるなら見た方がいい</h2>
    {{.GoodContents}}
    <h2>暇なら見た方がいい</h2>
    {{.NormalContents}}
    <h2>誰にでもオススメ</h2>
    {{.PopularContents}}
    <h2>大体の人にオススメ</h2>
    {{.AlmostAllContents}}
    <h2>コアな人にオススメ</h2>
    {{.CoreContents}}
</div>
</body>
