<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>みたやつ</title>
<link rel="stylesheet" type="text/css" href="/static/style.css?20220117">
</head>

<body>
<header><h1><a href="/" class="header-logo">みたやつ</a></h1></header>
{{ range $key, $value := . }}
<h2 class="index-list-title">{{ $key }}</h2>
    <ul>
    {{ range $i, $v := $value }}
    <li><a href="/{{$v.Title}}"><img class="index-thumbnail" src="/static/images/{{$v.Title}}" alt="{{$v.Title}}" id="{{$key}}-{{$i}}"></a></li>
    {{end}}
    </ul>
{{end}}
</body>
